node_modules

/.cache
/build
/public/build
.env

app.js
server.js
logger/*.js
ai/*.js

tsconfig.tsbuildinfo
tsconfigServer.tsbuildinfo

/database/sqlite.db
/database/migrations
/app/tailwind-minify.css

/ai/models

# Ignore vite timestamps file
# ex: vite.config.ts.timestamp-1711045030723-c390b917e0f1e.mjs

vite.config.ts.timestamp-*.mjs