@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
}

.heart {
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    position: absolute;
    transform: rotate(-45deg);
    margin: 0;
    animation: heart-fall linear infinite;
}

.heart::before,
.heart::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 10px;
}

.rain {
    background: rgb(23, 112, 126);
    background: linear-gradient(90deg, rgba(13, 52, 58, 1) 0%, rgba(255, 255, 255, 0.5) 100%);

    width: 1px;
    height: 89px;
    animation: rain-fall .63s linear infinite;
}

.loader {
    /* width: 48px;
    height: 48px; */
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}


@keyframes heart-fall {
    to {
        transform: translateY(100vh) rotate(-45deg);
    }
}

@keyframes rain-fall {
    to {
        transform: translateY(100vh);
    }
}